@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');
/* font-family: 'Miama', sans-serif; */

.inter-regular-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

  /* Universal styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, a{
    list-style: none;
    text-decoration: none;
}
/* Shared Styles */
.container{
    max-width: 85%;
    margin: 0 auto;
}
.webpage_bg_color{
    background-color: rgb(0, 0, 0);
    /* background-color: #000000; */
}

.btn{
    border: none;
    padding: 16px 45px;
    background-color: #E6533C;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.12rem;
    border-radius: 40px;
}
.btn2{
    background-color: #0f0f0f;
    border: 1px solid #FFFFFF;
    margin-left: 10px;
}

.title{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 14px;
}
 .description{
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

/* Description text primary color */
.display_hide{
    display: none;
}
.primary_color{
    color: rgba(255, 255, 255, 0.5);
}

/* Navbar part start */
.linear-gradient{
    backdrop-filter: blur(4px);
    /* background: linear-gradient(to right, rgba(71,71,71,1) 0%, rgba(102,102,102,1) 0%, rgba(28,28,28,1) 0%, rgba(43,43,43,1) 57%, rgba(44,44,44,1) 100%); */
    background: linear-gradient(180deg, #171717, #292929, #171717);
}
.navbar_part{
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 55px 0px 0px 0px;
}

.navbar_part .nav_logo{
    font-size: 2.25rem;
    color: #E6533C;
    font-weight: 800;
    font-style: italic;
}

.navbar_part .nav_items{
    display: flex;
    justify-content: space-between;
    color: #FFFF;
    border: .5px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    gap: 40px;
}

.navbar_part .item{
    padding: 12px 25px;
    font-size: 1.12rem;
    border-radius: 30px;
}

.navbar_part .item:first-child{
    background-color: #E6533C;
}

.navbar_part .item:hover{
    background-color: #E6533C;
}
.bar{
    display: none;
}
/* .navbar_part i{
    display: none;
} */
/* Banner part start */
/* .banner_part{
    background-image: url(../images/banner_img.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    align-items: center;
    height: 95vh;
} */

.banner_part{
    display: flex;
    justify-content: space-between;
}

.banner_part .banner_img img{
    margin-right: 67px;
    width: 100%;
    height: 100%;
 }

.banner_part .banner_content{
    max-width: 40%;
    padding-top: 130px;
}
.banner_part .banner_content .banner_title{
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 800;  
    margin-bottom: 24px;
}
.banner_part .banner_title .shape{
    font-family: 'Miama', sans-serif;
    color: #FFFFFF;
    font-size: 8rem;
    font-weight: 400;
    position: relative;
    line-height: 50%;
}

.banner_part .banner_description{
    line-height: 24px;
    margin-bottom: 24px;
}

.banner_part .banner_img {
    position: relative;
}

.small_box{
    background-color: rgba(48, 48, 48, 0.54);
    padding: 17px 11px;
    text-align: center;
    border-radius: 12px;
    position: absolute;
    bottom: 14%;
    left: -10%;
    display: flex;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(4px);
    border: 0.5px solid rgba(255, 255, 255, 0.1);
}
.small_box i{
    color: #FFFF;
    padding: 7px 9px;
    background-color: #E6533C;
    border-radius: 50%;
} 

.small_box h3{
    color: #FFFFFF;
    font-size: 1.25rem;
}
.small_box p{
    color: rgba(239, 237, 232, 0.65);
    font-size: .9rem;
}

.small_box2{
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: absolute;
    left: 56%;
    bottom: 63%;
}
/* Habit Part start */
.habits_part{
    margin-bottom: 100px;
    margin-top: 100px;
}
.habits_part .content{
    margin-bottom: 55px;
    text-align: center;
    width: 54%;
    margin: 0px auto 55px;
}

.habits_part .habits_card_box .card{
    width: 230px;
    text-align: center;
}   
.habits_part .habits_card_box .card img{
    border-radius: 50%;
    margin-bottom: 30px;
}   
.habits_part .habits_card_box .card h4{
    font-size: 1.12rem;
    color: #FFFFFF;
    font-weight: 600;
    margin-bottom: 6px;
}   
.habits_part .habits_card_box .card p{
    line-height: 18px;
}   
.habits_part .habits_card_box{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-content: center;
}   
/* Run_part start here */
.run_part{
    background-color:rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 54px;
    border-radius: 18px;
    margin-bottom: 100px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.run_part .run_content{
    max-width: 33%;
}

.run_part .run_content .run_btn{
        padding: 16px 65px;
        margin-top: 34px;
}

.run_part .run_img{
    width: 40%;
    height: 312px;
    border-radius: 18px;
    background-image: url(../images/run.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.run_part .run_img .fit_img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: none;
    object-position: 68% 32%;
}
/* Training part start here */
.training_part .training_content{
    margin-bottom: 58px;
    width: 60%;
}
.training_img_box{
    display: flex;
    flex-wrap: wrap;
    background-color: azure;
}

.training_img_box .img1{
    width: 23%;
    height: 200px;
    background-image: url(../images/exercise1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: relative;
    
}

.training_img_box .img1 p{
    font-size: .88rem;
    font-weight: 500;
    color: black;
    position: absolute;
    bottom: 24px;
    left: 24px;
    z-index: 2;
}

.training_img_box .img2{
    width: 47%;
    height: 200px;
    background-image: url(../images/exercise2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: relative;
}
.training_img_box .img2 p{
    font-size: .88rem;
    font-weight: 500;
    color: white;
    /* width: 30%; */
    position: absolute;
    top: 24px;
    left: 24px;
    line-height: 24px;
    z-index: 2;
}

.training_img_box .img3{
    width: 30%;
    height: 200px;
    background-image: url(../images/exercise3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: relative;
}
.training_img_box .img3 p{
    font-size: .88rem;
    font-weight: 500;
    color: white;
    /* width: 50%; */
    position: absolute;
    bottom: 24px;
    left: 24px;
    line-height: 24px;
    z-index: 2;
}

.training_img_box .img4{
    width: 38%;
    height: 200px;
    background-image: url(../images/exercise4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: relative;
}
.training_img_box .img4 p{
    font-size: .88rem;
    font-weight: 500;
    color: white;
    /* width: 39%; */
    position: absolute;
    top: 18px;
    right: 24px;
    line-height: 24px;
    z-index: 2;
}

.training_img_box .img5{
    width: 27%;
    height: 200px;
    background-image: url(../images/exercise5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: relative;
}
.training_img_box .img5 p{
    font-size: .88rem;
    font-weight: 500;
    color: white;
    /* width: 50%; */
    position: absolute;
    bottom: 24px;
    left: 24px;
    line-height: 24px;
    z-index: 2;
}

.training_img_box .img6{
    width: 35%;
    height: 200px;
    background-image: url(../images/exercise6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: relative;
}
.training_img_box .img6 p{
    font-size: .88rem;
    font-weight: 500;
    color: white;
    /* width: 50%; */
    position: absolute;
    bottom: 24px;
    left: 24px;
    line-height: 24px;
    z-index: 2;
}

.training_img_box .opacity_img1{
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image:  linear-gradient(#f74444 1px, transparent 1px), linear-gradient(90deg, #f74444 1px, transparent 1px), linear-gradient(#f74444 1px, transparent 1px), linear-gradient(90deg, #f74444 1px, rgba(6, 255, 210, 1) 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
}
.training_img_box .opacity_img2{
    width: 100%;
    height: 100%; 
    opacity: 0.2;
    background-image:  linear-gradient(#f74444 1px, transparent 1px), linear-gradient(90deg, #f74444 1px, transparent 1px), linear-gradient(#f74444 1px, transparent 1px), linear-gradient(90deg, #f74444 1px, rgba(255, 0, 0, 1) 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
}
.training_img_box .opacity_img3{
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image:  linear-gradient(#f74444 1px, transparent 1px), linear-gradient(90deg, #f74444 1px, transparent 1px), linear-gradient(#f74444 1px, transparent 1px), linear-gradient(90deg, #f74444 1px, rgba(0, 0, 0, 1) 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
}

.training_img_box .opacity_img4{
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image:  linear-gradient(#f74444 1px, transparent 1px), linear-gradient(90deg, #f74444 1px, transparent 1px), linear-gradient(#f74444 1px, transparent 1px), linear-gradient(90deg, #f74444 1px, rgba(0, 0, 0, 1) 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
}
.training_img_box .opacity_img5{
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image:  linear-gradient(#f74444 1px, transparent 1px), linear-gradient(90deg, #f74444 1px, transparent 1px), linear-gradient(#f74444 1px, transparent 1px), linear-gradient(90deg, #f74444 1px, rgba(66, 255, 0, 1) 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
}
.training_img_box .opacity_img6{
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image:  linear-gradient(#f74444 1px, transparent 1px), linear-gradient(90deg, #f74444 1px, transparent 1px), linear-gradient(#f74444 1px, transparent 1px), linear-gradient(90deg, #f74444 1px, rgba(0, 71, 255, 1) 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
}


/* BMI part start here */
.bmi_part{
    margin-top: 88px;
}
.bmi_part .bmi_chart{
    max-width: 45%;
}
.bmi_part .bmi_calculate{
    max-width: 55%;
}
.bmi_container_box{
    display: flex;
    justify-content: space-between;
}
.bmi_calculator_box{
    background-color:rgb(34, 34, 34);
    padding: 50px 0px;
}
.bmi_part .bmi_content{
    display: flex;
    justify-content: center;
    margin-bottom: 88px;
}

.bmi_part .chart_title{
    color: #FFFFFF;
    font-size: 1.75rem;
}
.bmi_part table{
    margin-top: 50px;
}

.bmi_part table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 15px 45px 15px 17px;
    text-align: left;
  }

  .bmi_part th{
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 500;
  }
  .bmi_part td{
    font-size: .87rem;
    color: rgba(255, 255, 255, 0.5);
  }

  .bmi_part .bmi_calculate .description{
    margin: 14px 0px 34px 0px;
  }

  .bmi_part .bmi_calculate input, select {
    width: 45%;
    padding: 16px 20px;
    margin-bottom: 12px;
    margin-right: 6px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    line-height: 22px;
  }

  .bmi_part input::placeholder, select{
    color: #AFAFAF;
    font-size: 1rem;
  }

  .bmi_calculate .activiti_slect{
    width: 94%;
  }
 .bmi_calculate .from_btn{
    display: inline-block;
    margin-top: 20px;
 }
/* Video part start here */
.tutorial_part{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 200px;
}
.tutorial_part .video_content{
    display: flex;
    justify-content: center;
    width: 55%;
    position: relative;
}
.tutorial_part .writing_content{
    width: 45%;
}
 .video_btn{
    display: inline-block;
    margin-top: 34px;
 }

 .subTitle{
    font-size: 1.50rem;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 34px;
 }
 .tutorial_part .video_1{
    padding: 20px;
    background-color: #292929;
    border: 4px solid #FFFFFF;
    width: 80%;
    height: 100%;
    border-radius: 18px;
 }
 .tutorial_part .video_2 {
    border: 4px solid #FFFFFF;
    width: 44%;
    height: 79%;
    position: absolute;
    bottom: -100px;
    left: -68px;
    border-radius: 18px;
}
.tutorial_part .video_3 {
    border: 4px solid white;
    width: 33%;
    height: 60%;
    position: absolute;
    right: 50px;
    bottom: -83px;
    border-radius: 18px;
}
 .tutorial_part .video_1 iframe{
    width: 100%;
    height: 100%;
    border-radius: 18px;
 }
 .tutorial_part .video_2 iframe{
    width: 100%;
    height: 100%;
    border-radius: 18px;
 }
 .tutorial_part .video_3 iframe{
    width: 100%;
    height: 100%;
    border-radius: 18px;
 }






 /* Our Team Part Start */
 .team_part {
    margin-top: 88px;
 }

 .team_part .team_content{
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
 }

 .team_part .img_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    padding: 20px 20px 0px 20px;
    border-radius: 18px;
    margin: 58px 0px 88px 0px;
 }

 .team_part .img_box .team_img{
    margin-bottom: 20px;
    position: relative;
 }

 .team_part .img_box .team_img1{
    width: 32%;
    height: 272px;
    background-image: url(../images/trainer1.png), linear-gradient(#eb01a5, #d13531);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-radius: 18px;
 }
 .team_part .img_box .team_img2{
    width: 32%;
    height: 272px;
    background-image: url(../images/trainer2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-radius: 18px;
 }
 .team_part .img_box .team_img3{
    width: 32%;
    height: 272px;

    background-image: url(../images/trainer3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-radius: 18px;
 }
 .team_part .img_box .team_img4{
    width: 32%;
    height: 272px;
    background-image: url(../images/trainer4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-radius: 18px;
 }
 .team_part .img_box .team_img5{
    width: 32%;
    height: 272px;
    background-image: url(../images/trainer5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-radius: 18px;
 }
 .team_part .img_box .team_img6{
    width: 32%;
    height: 272px;
    background-image: url(../images/trainer6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-radius: 18px;
 }

 .team_part .img_box h5{
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 3px;
 }
 .team_part .img_box p{
    font-size: .88rem;
    color: rgba(255, 255, 255, 0.5);
 }

 .team_part .img_box .team_img .img_title{
    position: absolute;
    bottom: 25px;
    left: 25px;
 }
/* Footer part start here */
footer{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 65px 0px 35px 0px;
}
.footer_part {
    display: flex;
}
.footer_part .footer_content{
    width: 50%;
}
.footer_part .footer_item{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footer_part .footer_content .footer_logo{
    font-size: 4rem;
    font-weight: 800;
    color: #E6533C;
    margin-bottom: 20px;
}
.footer_part .footer_content .footer_description{
    font-size: .88rem;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.3px;
    line-height: 24px;
    width: 75%;
}

.footer_part .footer_item .item-title{
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 38px;
}
.footer_part .footer_item ul li{
    font-size: 1.40rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}

.hr_line{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 60px;
}

.footer_copyRight{
    font-size: 1.40rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 36px;
}




/* Banner and Habits part responsive here */
@media (min-width: 320px) and (max-width: 575.98px) {
    .navbar_part .nav_items{
        display: none;
    }
    .bar{
        display: block;
        margin-left: 85%;
        font-size: 1.15rem;
    }
    .banner_part{
        flex-direction: column;
    }
   
    .navbar_part .nav_logo{
        font-size: 2rem;
    }
    .banner_part .banner_content{
        max-width: 90%;
        padding-top: 60px;
    }
    .banner_part .banner_content .banner_title{
        font-size: 2.25rem;
    }
    .banner_part .banner_title .shape{
        font-size: 5.2rem;
    }

    .btn {
        padding: 14px 11px;
        font-size: .8rem;
    }
    .bmi_calculate .from_btn{
        padding: 16px 70px;
     }
    .btn_box{
        justify-items: center;
    }
    .habits_part {
        margin-bottom: 50px;
    }

    .habits_part .habits_card_box{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
     } 
    .habits_part .habits_card_box .card{
        margin-bottom: 40px;
     } 

     .habits_part .content {
        width: 100%;
    }

     .banner_part .banner_img img {
        margin-right: 27px;
    }

     .title{
        font-size: 1.75rem;
     }
     .small_box {
        padding: 14px 4px;
        left: -3%;
     }
     .small_box2 {
        bottom: 64%;
        left: 55%;
     }
     .small_box h3{
        font-size: 1.25rem;
    }
    .small_box p{
        font-size: .7rem;
    }
    .run_part{
        flex-direction: column;
        align-items: right;
        padding: 40px 18px;
    }

    .run_part .run_content {
        max-width: 100%;
    }

    .run_part .run_img {
        width: 100%;
        height: 250px;
    }

    .run_part .run_content .run_btn{
        margin-bottom: 30px;
        padding: 16px 88px;
    }
    .bmi_container_box{
        flex-direction: column;
    }
    .bmi_part .bmi_chart{
        max-width: 100%;
    }
    .bmi_part .bmi_calculate {
        max-width: 100%;
    }
    .bmi_part table, th, td {
        padding: 15px 28px 15px 17px;
    }
    .bmi_part .chart_title {
        font-size: 1.25rem;
    }
    .bmi_chart{
        margin-bottom: 42px;
    }
    .bmi_content{
        padding-left: 25px;
    }
    /* Video Tutorials part here */
    .tutorial_part{
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 150px;
    }

    .tutorial_part .video_content{
        width: 100%;
        /* margin-left: 54px; */
    }
    .tutorial_part .writing_content{
        width: 100%;
    }
    .tutorial_part .writing_content .title{
        width: 100%;
        font-size: 1.80rem;
    }
    .tutorial_part .video_btn{
        display: block;
        width: 100%;
        margin-bottom: 34px;
    }
    .tutorial_part .video_2 {
        width: 44%;
        height: 62%;
        bottom: -60px;
        left: -18px
    }
    .tutorial_part .video_3 {
        width: 44%;
        height: 62%;
        bottom: -60px;
        right: -18px;
    }

    .team_part .img_box{
        flex-direction: column;
     }
     .team_part .img_box .team_img {
        width: 100%;
    }
     .team_part .team_content{
        max-width: 100%;
     }
     .team_part .img_box h5{
        font-size: 1.25rem;
     }
     .team_part .img_box p{
        font-size: .88rem;
     }
     .team_part .img_box .team_img1, .team_img4{
        display: none;
     }
     .footer_part, .footer_item{
        flex-direction: column;
     }

     .footer_part .footer_content{
        width: 100%;
    }
    .footer_part .footer_item{
        width: 100%;
        margin-top: 30px;
    }
    .footer_part .footer_content .footer_description{
        width: 85%;
    }
    .footer_copyRight {
        font-size: 1.20rem;
    }

    .training_img_box .img3{
        display: none;
    }
    .training_img_box .img6{
        display: none;
    }
    .training_img_box{
        display: flex;
        flex-wrap: wrap;
    }
    .training_img_box .img1{
        width: 50%;
        height: 128px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .training_img_box .img2{
        width: 50%;
        height: 128px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        object-fit: none;
    }
    .training_img_box .img4{
        width: 45%;
        height: 128px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
    }
    .training_img_box .img4 p{
        position: absolute;
        top: 85px;
        left: 15px;
    }
    .training_img_box .img1 p{
        position: absolute;
        bottom: 15px;
        left: 15px;
    }
    .training_img_box .img2 p{
        position: absolute;
        top: 15px;
        left: 15px;
    }
    .training_img_box .img5 p{
        position: absolute;
        bottom: 15px;
        left: 15px;
    }
    
    .training_img_box .img5{
        width: 55%;
        height: 128px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }
    .training_part .training_content{
        margin-bottom: 58px;
        width: 100%;
    }

}



@media screen and (min-width: 992px) {
    .banner_part .banner_content {
        max-width: 46%;
    }
    /* .btn {
        padding: 16px 28px;
    } */
    .banner_btn{
        padding: 16px 28px;
    }

    .banner_img {
        margin-left: 90px;
    }
    .small_box{
        padding: 20px 7px;
    }
    .small_box2{
        left: 52%;
    }
    /* .habits_part .habits_card_box {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        row-gap: 50px;
    } */
    .run_part .run_content {
        max-width: 38%;
    }
    .training_part .training_content {
        width: 60%;
    }

    .tutorial_part .writing_content {
        width: 37%;
    }
    .tutorial_part .video_content {
        width: 60%;
    }
    .tutorial_part .video_1 {
        width: 73%;
        height: 100%;
    }

    .tutorial_part .video_2 {
        width: 40%;
        height: 55%;
        bottom: -65px;
        left: 0px;
    }

    .tutorial_part .video_3 {
        width: 37%;
        height: 55%;
        right: 31px;
        bottom: -65px;
    }
    .team_part .team_content {
        max-width: 60%;
    }

}



